<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Aperho : inscriptions</title>
    <script type="text/javascript" src="/static/votes/js/jquery/jquery.js">
    </script>
    <script type="text/javascript" src="/static/votes/js/jquery-ui/jquery-ui.js">
    </script>
    <script type="text/javascript">
      $( function() { // lancement après le chargement
      $( "#userinfo" ).accordion({
      collapsible: true,
      active: false,
      });
      } );
    </script>
    <script type="text/javascript" src="/static/votes/js/changeCours.js">
    </script>

    <link rel="stylesheet" type="text/css" href="/static/votes/js/jquery-ui/css/smoothness/jquery-ui.css"/>
    <link rel="stylesheet" type="text/css" href="/static/votes/css/stylevotes.css"/>
  </head>
  <body>
    {% if user.is_authenticated %}
    <div id="userinfo">
      <h3>
	Bienvenue {{user.first_name}} {{user.last_name}}
      </h3>
      <ul>
	<li><a href="/logout/">Déconnexion</a></li>
      </ul>
    </div>
    {% if user.is_superuser %}
    <a href="/admin/">administration</a>
    {% endif %}
    <h1>..:: AP Lycée Jean Bart ::.. ..:: Inscription ::..</h1>
    <h2>
      Cours d'AP disponibles
      {% if etudiant == None %}
      (vous n'êtes pas étudiant(e))
      {% else %}
      ({{etudiant.prenom}} {{etudiant.nom}}, {{etudiant.classe}})
      {% endif %}
    </h2>
    <div id="inscription_boutons">
      Cocher les cases à gauche, et ...<br/>
      <button type="button" onclick="valideCours()">
	Valider les inscriptions
      </button>
      ou
      <button type="button" onclick="annuleCours()">
	Annuler les inscriptions
      </button>
    </div>
    <input type="hidden" id="etudiantUid" value="{{etudiant.uid}}"/>
    {% for coursHoraire in tousLesCours %}
    <h3>Cours commençant à {{coursHoraire.horaire}}</h3>
    <table style="width: 100%">
      {% for c in coursHoraire.cours %}
      <tr>
	<td colspan="2" class="remplisalle">
	  Remplissage
	</td>
	<th colspan="2" class="profsalle">
	  {{c.enseignant}}
	</th>
      </tr>
      <tr>
	<td rowspan="2" {% if c.formation.public_designe %}style="background: lightgrey;"{% endif %}>
	  <!-- ci-dessous, un attribut data-class "cours_0_2" signifie un cours de la série 0, durée 2 heures :-->
	  <div class="jolicb">
	    <input type="checkbox" id="cours_{{c.id}}" name="cours_{{c.id}}" onchange="check({{c.id}})" {% if c in cours_suivis %}checked{% endif %} {% if c.disabled %}disabled{% endif %} data-class="cours_{{forloop.parentloop.counter0}}_{{c.formation.duree}}" />
	    <label for="cours_{{c.id}}"></label>
	  </div>
	</td>
	<td class="remplisalle" style="width:6ex;">
	  {{c.inscriptions| length}}/{{c.capacite}}
	</td>
	<td style="width:4ex;{% if c.formation.duree == 2 %} background: wheat; color:darkred; font-weight:bold;{% endif %}">
	  {{c.formation.duree}} h
	</td>
	<td style="font-weight: bold;">
	  {{c.formation.titre}}
	</td>
      </tr>
      <tr>
	<td colspan="4" class="contenuap">{{c.formation.contenu}}</td>
      </tr>
      {% endfor %}
    </table>
    {% endfor %}
    {% endif %}
    <div id="dialog"><!-- sert pour une boîte de dialogue de jQuery --></div>
    <div id="placeholder-for-fixed-buttons" style="height: 70px;"></div>
  </body>
</html>
