<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Aperho : page d'accueil</title>
  </head>
  <body>
    <h1>Aperho : page d'accueil</h1>
    <ul>
      <li><a href="/votes/addEleves">Ajout d'élèves à la barrette d'AP</a></li>
      <li><a href="/votes/addProfs">Ajout de profs à la barrette d'AP</a></li>
      <li><a href="/votes/addFormation">Ajout de formation à la barrette d'AP</a></li>
      <li><a href="/admin">Autres fonctions d'administration : lister, modifier, effacer, etc.</a></li>
    </ul>
  </body>
</html>
