body{
    padding-bottom: 50 px; /* permet de placer les boutons (fixed) */
}
fieldset.joli {
    background:    yellow;
    border:        1px navy solid;
    border-radius: 5px;
    padding:       10px;
    display:       inline-block;
}

fieldset.joli legend {
    background:    gold;
    border:        2px navy solid;
    border-radius: 5px;
    padding:       5px;
}

table.joli {
    border-collapse: collapse;
}

table.joli, th, td {
    border: 1px navy solid;
    background: lightyellow;
}

div.classeConnue {
    display: inline-flex;
    background: wheat;
    padding: 0.5ex;
    border: 1px orange solid;
    border-radius: 0.5ex;
}

.profAcocher {
    display: inline-flex;
    background: wheat;
    padding: 0.5ex;
    border: 1px orange solid;
    border-radius: 0.5ex;
    margin-right: 1em;
    margin-bottom: 0.5ex;
}

#profAvalider{
    position: fixed;
    top : 20px;
    right: 20px;
    background: wheat;
}

#profAvalider input {
    font-size: 160%;
    background: wheat;
}

input[disabled].btn:hover, input[disabled].btn:active, input[disabled].btn:focus{
   color: green;
   background: white;						   
}

#userinfo {
    float:right;
    margin-rigth: 10px;
    margin-top: 50px;
    width: 15em;
}
.ui-accordion-header{
    z-index:10;
}

#inscription_boutons {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background: moccasin;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    z-index: 0;
}

.profsalle {
    background: lightcyan;
}

.remplisalle {
    background: lightcyan;
}

