{% extends "base1.html" %}

{% block mesactions %}
<ul>
  {% if user.is_superuser %}
  <li><a id="cnb" href="#nb">Créer une nouvelle barrette</a></li>
  <li><a href="/votes/addEleves">Élèves</a></li>
  <li><a href="/votes/addProfs">Profs</a></li>
  <li><a href="/votes/addFormation">Formations d'AP</a></li>
  <li><a href="/votes/lesCours">Séances d'AP</a></li>
  <li><a href="/votes/cop">Élèves -> COPs</a></li>
  <li><hr/></li>
  <li><a href="/admin/">Administration directe de Django</a></li>
  {% else %}
  {% endif %}
  <li><hr/></li>
  <li><a href="/logout">Déconnexion</a></li>
</ul>
{% endblock %}

{% block localscripts %}
<script src="/static/votes/js/multiselectable.js" type="text/javascript"></script>
<script type="text/javascript">
$(document).ready(function() {
    $('.multi').multiselectable({
	selectableLabel:"Disponibles",
	selectedLabel:"Sélectionnées"
    });
    if("{{avertissement}}".length > 0){
	$( "#message" ).attr({title: "Avertissement",})
	$( "#message" ).text("{{avertissement}}");
	$( "#message" ).dialog({
	    modal: true,
	    buttons: [
		{
		    text: "OK",
		    click: function() {
			$( this ).dialog( "close" );
		    }
		}
	    ]
	});
    }
});
/**
 * récupérations des classes sélectionnées dans un liste au format json
 **/
function collectclasses(){
  collected=[];
  $("#classes option").each(function(i){
      console.log(i, $(this).val(), $(this).attr("selected"));
      if($(this).attr("selected")){
	collected.push($(this).val());
      }
    });
  $("#selectedclasses").val(JSON.stringify(collected));
  return true;
}
/**
 * édition d'une barrette
 * @param el un élément fils de la barrette
 **/
function editBarrette(el){
    var b = $(el).parents('.unebarrette').first();
    var p = b.next();
    var nom = b.text().trim();
    var classes = [];
    p.find(".uneClasse").each(function(){
	classes.push($(this).text().trim());
    });
    // on désactive la possibilité de créer une nouvelle barrette
    $("#cnb").css({display: "none"});
    // on rhabille le formulaire de création en formulaire d'édition
    $("#nb").text("Modification de la barrette "+nom);
    $("form").first().attr({action: "editBarrette"});
    $("#submit").val("Valider le changement");
    $("#nomOrig").val(nom);
    $("#nom").val(nom);
    // on remet les noms de classes dans la liste des choix
    for(var i=0; i < classes.length; i++){
	var c = classes[i];
	$("#classes").append($("<option>",{value: c, selected: 'selected'}).text(c));
    }
    // on refait le multiselect
    $(".multiselectable").first().remove();
    $('.multi').multiselectable({
	selectableLabel:"Disponibles",
	selectedLabel:"Sélectionnées"
    });
    // on scrolle
    var aTag = $(".unebarrette").last();
    console.log(aTag);
    $('html,body').animate({scrollTop: aTag.offset().top-60},'slow');
    return;
}
/**
 * suppression d'une barrette
 * @param el un élément fils de la barrette
 **/
function delBarrette(el){
    var nom=$(el).parents('.unebarrette').first().text();
    var ajaxQuery=$.get(
	"delBarrette", {nom: nom},
	function(){
	    $("#message").html("Effacement de la barrette "+nom);
	    $( "#message" ).dialog(
		{
		    autoOpen: true,
		    modal: true,
		    buttons: [
			{
			    text: "OK",
			    icons: {
				primary: "ui-icon-heart"
			    },
			    click: function() {
				$( this ).dialog( "close" );
				location.reload(); // on rafraîchit la page
			    }
			},
		    ],
		}
	    )
	}
    ).fail(
	function(){alert("Échec de la suppression de "+nom);}
    );
}

$( ".accordeon" ).accordion({
    collapsible: true,
    active: -1,
});

</script>
{% endblock %}

{% block title %}
<h1>Les barrettes d'accompagnement personnalisé</h1> <!-- ' -->
{% endblock %}

{% block contents %}
{% if lesBarrettes %}
<h2>Barrettes existantes</h2>
{% endif %}
{% for b in lesBarrettes %}
<div class="barrette">
  <div class="unebarrette accordeon">
    {{b.nom}}
    {% if user.is_superuser %}
    <div class="delButton"><img src="/static/votes/img/del.png" onclick="delBarrette(this)" alt="Bouton de suppression"/></div>
    <div class="editButton"><img src="/static/votes/img/edit.png" onclick="editBarrette(this)" alt="Bouton d'édition"/></div>
    {% endif %}
  </div>
  <div>
    {% for c in b.l %}
    <div class="uneClasse">{{c}}</div>
    {% endfor %}
  </div>
  {% endfor %}
</div>

{% if user.is_superuser %}
<a name="nb"></a>
<h2 id="nb">Créer une nouvelle barrette</h2>
<form action="#" method="post"  onSubmit="collectclasses()">
  {% csrf_token %}
  <p>
    <label style="font-size: 120%; font-weight: bold;">
      Nom de la nouvelle barrette :
    </label>
    <input type="text" name="nom" id="nom" placeholder="un nouveau nom ?"/>
  </p>
  <p>
    <select name="classes" id="classes" multiple="on" class="multi">
      {% for c in classes %}
      <option value="{{c}}">{{c}}</option>
      {% endfor %}
    </select>
  </p>
  <div style="clear:both"></div>
  <div style="margin-top: 3em;">
    <input type="submit" id="submit" value="Créer une nouvelle barrette" style="font-size:120%; font-weight:bold;"/>
    <input type="hidden" name="selectedclasses" id="selectedclasses"/>
    <input type="hidden" name="nomOrig" id="nomOrig"/>
  </div>
</form>
{% endif %}
<div id="message"></div>
{% endblock %}
