{% extends "home.html" %}

{% block webTitle %}<title>Aperho : gestion des élèves</title>{% endblock %}

{% block localscripts %}
<script type="text/javascript" src="/static/votes/js/addEleves.js">
</script>
<script src="/static/votes/js/multiselectable.js" type="text/javascript"></script>
<script type="text/javascript">
$(document).ready(function() {
    $('.multi').multiselectable({
	selectableLabel:"Disponibles",
	selectedLabel:"Sélectionnées"
    });
});
</script>
{% endblock %}

{% block title %}<h1>Gestion des élèves ({{barretteCourante}})</h1>{% endblock %}

{% block contents %}
{% if user.is_superuser %}
{% if classesDansDb %}
<h3 style="text-align: center; cursor:pointer;" onclick="majKwartz('{{barretteCourante}}')" title="cliquer pour une mise à jour"">
  Remise à jour (depuis l'annuaire Kwartz)
</h3>
<h3 style="text-align: center;">
  Classes dans la barrette (voir plus bas pour en ajouter)
</h3>
<table border="1" class="joli" style="width: 100%">
  <tr style="background: lightcyan;">
    <th colspan="2">Classe</th>
    <th style="width: 70%;">Élèves</th>
  </tr>
  {% for c, el in classesDansDb.items %}
  <tr>
    <td>
      <div class="delButton">
	<img src="/static/votes/img/del.png" onclick="effacerClasse('{{c}}')" alt="Bouton de suppression" title="Supprimer"/>
      </div>
    </td>
    <td>{{c}}</td>
    <td><div style="height: 3em; overflow-y: auto">{{el}}</div></td>
  </tr>
  {% endfor %}
</table> 
{% endif %}

<h2>Nouvelles classes à ajouter </h2>
<form method="post">
  {% csrf_token %}
  <div style="width: 80%; margin: 0 auto;">
    <select class="multi" name="classes" multiple="multiple" style="height: 30ex;">
      {% for option in classes %}
      <option value="{{option.gid}}">{{option.classe}}</option>
      {% endfor %}
    </select><br/>
    <div style="clear:both"></div>
    <input style="margin-top: 4em;" type="submit" value="Ajouter les classes et les élèves"/>
    <input type="hidden" name="barrette" value="{{barretteCourante}}"/>
  </div>
</form>
<div id="dialog">
</div>
{% else %}
<h2>Votre statut ne vous permet pas d'utiliser cette page</h2>
{% endif %}
{% endblock %}
