{% extends "addFormation.html" %}

{% block contents %}
{% if user.is_superuser %}
<form>
  <fieldset>
    <legend>Renseigner la formation, indépendamment des professeurs qui la feront.</legend>
    <table>
      <tr>
	<th><label for="titre">Titre de la formation : </label></th>
	<td>
	  {{f.titre}}
	</td>
      </tr>
      <tr>
	<th><label for="contenu">Détail :</label></th>
	<td>
	  {{f.contenu}}
	</td>
      </tr>
      <tr>
	<th><label for="duree">Durée :</label></th>
	<td>
	  {{f.duree}} heures.
	</td>
      </tr>
    </table>
  </fieldset>
  <p style="font-size: 200%;">
    La formation est enregistrée.
  </p>
</form>
<p>
  <a href="/votes/addFormation">Créer une autre formation ...</a>
  <a href="/">Retour au menu ...</a>
</p>
<script type="text/javascript">
var standard_message = $('#contenu').val();
$('#contenu').focus(
    function() {
	if ($(this).val() == standard_message)
	    $(this).val("");
    }
);
$('#contenu').blur(
    function() {
	if ($(this).val() == "")
	    $(this).val(standard_message);
    }
);
</script>
{% else %}
<h2>Votre statut ne vous permet pas d'utiliser cette page</h2>
{% endif %}
{% endblock %}
