{% extends "home.html" %}

{% block webTitle %}<title>Aperho : ajout de professeurs</title>{% endblock %}

{% block localscripts %}
<script type="text/javascript" src="/static/votes/js/addProfs.js">
</script>
<script>
$(function(){
    var noms=[
	{% for p in profs %}
	"{{p.nom}} {{p.prenom}}",
	{% endfor %}
    ];

    $("#prof").autocomplete({
	source: noms,
    });

    $('html,body').animate({scrollTop: $("#prof").offset().top-260},'slow');
});
$( "#accordeon" ).accordion({
    collapsible: true,
    active: -1,
});

</script>
{% endblock %}

{% block title %}<h1>Ajout de professeurs ({{barretteCourante}})</h1>{% endblock %}

{% block contents %}
{% if user.is_superuser %}
<div style="display:none" id="barretteCourante">{{barretteCourante}}</div>
<div style="display:none" id="csrf">{{csrf_token}}</div>
<h2>Ajouter les profs en bas du tableau</h2>
<table border="1" class="joli">
  <tr style="background: lightcyan"><th colspan="2">Nom Prénom</th><th>Salle</th><th>matière</th><th>Barrettes</th></tr>
  {% for p in profsInscrits %}
  <tr>
    <td>
      <div class="delButton">
	<img src="/static/votes/img/del.png" onclick="delProf(this)" alt="Bouton de suppression" title="Supprimer"/>
      </div>
      <div class="editButton">
	<img src="/static/votes/img/edit.png" onclick="editProf(this)" alt="Bouton d'édition" title="Éditer"/>
      </div>
    </td>
    <td>{{p.nom}} {{p.prenom}}</td>
    <td>{{p.salle}}</td>
    <td>{{p.matiere}}</td>
    <td>{{p.bb}}</td>
  </tr>
  {% endfor %}
  <tr style="background: lightcyan">
    <td colspan="2"><input type="text" id="prof" name="prof" placeholder="Commencer à taper 3 lettres ..." size="40" onblur="chargeProf(this)"/></td>
    <td><input type="text" id="salle" name="salle" placeholder="Salle de cours"/></td>
    <td><input type="text" id="matiere" name="matiere" placeholder="Matière"/></td>
    <td><button onclick='addProf("{{csrf_token}}", "{{barretteCourante}}")'>Nouveau prof</button></td>
  </tr>
</table>

<div id="accordeon">
  <h2>Liste alphabétique des profs (pas dans "{{barretteCourante}}")</h2>
  <div>
    {% for p in profs %}
    {{p.nom}} {{p.prenom}},
    {% endfor %}
  </div>
</div>
<div id="dialog">
</div>
{% else %}
<h2>Votre statut ne vous permet pas d'utiliser cette page</h2>
{% endif %}
{% endblock %}
