{% extends "addProfs.html" %}

{% block contents %}
{% if user.is_superuser %}
<form method="post">
  <fieldset>
    <legend>Renseignez les salles des professeurs</legend>
    <div>
      {% if profs %}
      <table>
	<tr><th>Professeur</th><th>salle ou bâtiment</th></tr>
	{% for p in profs %}
	<tr>
	  <th>{{p.nom}} {{p.prenom}}</th>
	  <td><input name="{{p.uid}}" type="text" placeholder="salle habituelle ?"/></td>
	</tr>
	{% endfor %}
      </table>
      {% endif %}
    </div>
    <div id="profAvalider">
      <input type="hidden" name="uids" value="{{uids}}"/>
      {% csrf_token %}
      <input type="submit" name="ajout1" value="Enregistrer les salles"/>
    </div>
  </fieldset>
</form>
<div id="dialog">
</div>
{% else %}
<h2>Votre statut ne vous permet pas d'utiliser cette page</h2>
{% endif %}
{% endblock %}
