{% extends "home.html" %}

{% block webTitle %}<title>Aperho : ajout de professeurs</title>{% endblock %}

{% block localscripts %}
<script type="text/javascript" src="/static/votes/js/addEleves.js">
</script>
{% endblock %}

{% block title %}<h1>Aperho : ajout de professeurs</h1>{% endblock %}

{% block contents %}
{% if user.is_superuser %}
<form method="post">
  <fieldset>
    <legend>Cocher les professeurs à ajouter dans la barrette d'AP.</legend>
    <div>
      {% if profs %}
      {% for p in profs %}
      <div class="profAcocher">
	<input type="checkbox" id="{{p.uid}}" name="{{p.uid}}"/>
	{{p.nom}} {{p.prenom}}
      </div>
      {% endfor %}
      {% endif %}
    </div>
    <div id="profAvalider">
      {% csrf_token %}
      <input type="submit" name="ajout" value="Ajouter les professeurs cochés"/>
    </div>
  </fieldset>
</form>
<div id="dialog">
</div>
{% else %}
<h2>Votre statut ne vous permet pas d'utiliser cette page</h2>
{% endif %}
{% endblock %}
