{% extends "addProfs.html" %}

{% block title %}
<h1>Aperho : Les professeurs ont été ajoutés à la barrette</h1>
{% endblock %}

{% block contents %}
{% if user.is_superuser %}
<div>
  {% if profs %}
  <table>
    <tr><th>Professeur</th><th>salle ou bâtiment</th></tr>
    {% for p in profs %}
    <tr>
      <th>{{p.nom}} {{p.prenom}}</th>
      <td>{{p.salle}}</td>
    </tr>
    {% endfor %}
  </table>
  {% endif %}
</div>
<div id="dialog">
</div>
{% else %}
<h2>Votre statut ne vous permet pas d'utiliser cette page</h2>
{% endif %}
{% endblock %}

