<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Aperho : ajout de professeurs</title>
    <link rel="stylesheet" href="/static/votes/css/stylevotes.css" type="text/css"/>
    <link rel="stylesheet" href="/static/votes/js/jquery-ui/themes/smoothness/jquery-ui.css" type="text/css"/>
    <script type="text/javascript" src="/static/votes/js/jquery/jquery.js">
    </script>
    <script type="text/javascript" src="/static/votes/js/jquery-ui/jquery-ui.js">
    </script>
    <script type="text/javascript" src="/static/votes/js/addEleves.js">
    </script>
  </head>
  <body>
    <h1>Aperho : ajout de professeurs</h1>
    <form method="post">
      <fieldset>
	<legend>Renseignez les salles des professeurs</legend>
	<div>
	  {% if profs %}
	  <table>
	    <tr><th>Professeur</th><th>salle ou bâtiment</th></tr>
	    {% for p in profs %}
	    <tr>
	      <th>{{p.nom}} {{p.prenom}}</th>
	      <td><input name="{{p.uid}}" type="text" placeholder="salle habituelle ?"/></td>
	    </tr>
	    {% endfor %}
	  </table>
	  {% endif %}
	</div>
	<div id="profAvalider">
	  <input type="hidden" name="uids" value="{{uids}}"/>
	  {% csrf_token %}
	  <input type="submit" name="ajout1" value="Enregistrer les salles"/>
	</div>
      </fieldset>
    </form>
    <div id="dialog">
    </div>
  </body>
</html>
