{% extends "home.html" %}

{% block webTitle %}<title>Aperho : ajout de professeurs</title>{% endblock %}

{% block localscripts %}
<script type="text/javascript" src="/static/votes/js/addProfs.js">
</script>
<script>
$(function(){
    var noms=[
	{% for p in profs %}
	"{{p.nom}} {{p.prenom}}",
	{% endfor %}
    ];

    $("#prof").autocomplete({
	source: noms,
    });
});
$( "#accordeon" ).accordion({
    collapsible: true,
    active: -1,
});

</script>
{% endblock %}

{% block title %}<h1>Ajout de professeurs ({{barretteCourante}})</h1>{% endblock %}

{% block contents %}
{% if user.is_superuser %}
<h2>Ajouter les profs en bas du tableau</h2>
<table>
  <tr><th>Nom Prénom</th><th>Salle</th><th>Barrettes</th></tr>
  {% for p in profsInscrits %}
  <tr>
    <td>{{p.nom}} {{p.prenom}}</td>
    <td>{{p.salle}}</td>
    <td>{{p.bb}}</td>
  </tr>
  {% endfor %}
  <tr>
    <td><input type="text" id="prof" name="prof" placeholder="Commencer à taper 3 lettres ..." size="40" /></td>
    <td><input type="text" id="salle" name="salle" placeholder="Salle de cours"/></td>
    <td><button onclick='addProf("{{csrf_token}}")'>Nouveau prof</button></td>
  </tr>
</table>

<div id="accordeon">
  <h2>Liste alphabétique des profs (pas dans "{{barretteCourante}}")</h2>
  <div>
    {% for p in profs %}
    {{p.nom}} {{p.prenom}},
    {% endfor %}
  </div>
</div>
<div id="dialog">
</div>
{% else %}
<h2>Votre statut ne vous permet pas d'utiliser cette page</h2>
{% endif %}
{% endblock %}
