<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    {% block webTitle %}
    <title>Aperho ..:: Web Titre ::..</title>
    {% endblock %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="icon" type="image/icon" href="/static/votes/ico/aperho.ico"/>
    <link rel="stylesheet" href="/static/votes/css/stylevotes.css" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="/static/votes/attractive-fully-responsive-menu-by-usingcss3.com/css/style.css"/>
    <link rel="stylesheet" href="/static/votes/js/jquery-ui/css/smoothness/jquery-ui.css" type="text/css"/>
    <script type="text/javascript" src="/static/votes/js/jquery/jquery.js">
    </script>
    <script type="text/javascript" src="/static/votes/js/jquery-ui/jquery-ui.js">
    </script>
    <script type="text/javascript" src="/static/votes/attractive-fully-responsive-menu-by-usingcss3.com/js/custom.js"></script>
    {% block localscripts %}
    <!-- scripts to be used with this particular page -->
    {% endblock %}
  </head>
  <body>
    <header class="header row">
      <div class="container">
        <div class="logo">
	  <div class="whichUser">{{user.first_name}} {{user.last_name}}</div>
          <a href="#"><img src="/static/votes/ico/aperho.svg" alt="Aperho" title="Aperho, l'application du lycée Jean Bart pour l'Accompagnement Personnalisé"/></a>
        </div>
        <a class="toggle-mobile-btn" href="javascript: void(0);">
          <span></span>
        </a>
        <nav class="navigation">
          <ul>
            <li class="active" ><a href="http://www.lyceejeanbart.fr" target="jblycee">Le site du lycée</a></li>
            <li class="sub-menu"><a href="#">Mes actions</a>
	      {% block mesactions %}
              <ul>
                <li><a href="/votes/profil">Mon profil</a></li>
                <li><a href="/logout">Déconnexion</a></li>
              </ul>
	      {% endblock %}
            </li>
            <li><a href="/">Page d'accueil</a></li>
          </ul>
        </nav>
      </div>
    </header>
    {% block title %}
    <h1 classe="pagetitre">..:: Titre ::..</h1>
    {% endblock %}
    {% block contents %}
    les contenus de la page sont ici
    {% endblock %}
  </body>
</html>
