<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    {% block webTitle %}
    <title>Aperho ..:: Web Titre ::..</title>
    {% endblock %}
    <link rel="stylesheet" href="/static/votes/css/stylevotes.css" type="text/css"/>
    <link rel="stylesheet" href="/static/votes/js/jquery-ui/themes/smoothness/jquery-ui.css" type="text/css"/>
    <script type="text/javascript" src="/static/votes/js/jquery/jquery.js">
    </script>
    <script type="text/javascript" src="/static/votes/js/jquery-ui/jquery-ui.js">
    </script>
    {% block localscripts %}
    <!-- scripts to be used with this particular page -->
    {% endblock %}
  </head>
  <body>
    {% block title %}
    <h1>..:: Titre ::..</h1>
    {% endblock %}
    {% block contents %}
    les contenus de la page sont ici
    {% endblock %}
  </body>
</html>
