<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    {% block webTitle %}
    <title>Aperho ..:: Web Titre ::..</title>
    {% endblock %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="icon" type="image/icon" href="/static/votes/ico/aperho.ico"/>
    <link rel="stylesheet" href="/static/votes/css/stylevotes.css" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="/static/votes/attractive-fully-responsive-menu-by-usingcss3.com/css/style.css"/>
    <link rel="stylesheet" href="/static/votes/js/jquery-ui/css/smoothness/jquery-ui.css" type="text/css"/>
    <script type="text/javascript" src="/static/votes/js/jquery/jquery.js">
    </script>
    <script type="text/javascript" src="/static/votes/js/jquery-ui/jquery-ui.js">
    </script>
    <script type="text/javascript" src="/static/votes/attractive-fully-responsive-menu-by-usingcss3.com/js/custom.js"></script>
    <script type="text/javascript" src="/static/votes/js/changeBarrette.js">
    </script>
    {% block localscripts %}
    <!-- scripts to be used with this particular page -->
    {% endblock %}
  </head>
  <body>
    <header class="header row">
      <div class="container">
        <div class="logo">
	  <div class="whichUser">{{user.first_name}} {{user.last_name}}</div>
          <a href="#"><img src="/static/votes/ico/aperho.svg" alt="Aperho" title="Aperho, l'application du lycée Jean Bart pour l'Accompagnement Personnalisé"/></a>
        </div>
        <a class="toggle-mobile-btn" href="javascript: void(0);">
          <span></span>
        </a>
        <nav class="navigation">
          <ul>
	    {% ifequal estprof "profAP" %}
            <li class="active" ><a href="/static/votes/html/aide-prof.html" target="aide">Aide, mode d'emploi</a></li>
	    {% else %}
	    <li class="active" ><a href="/static/votes/html/aide-eleve.html" target="aide">Aide, mode d'emploi</a></li>
	    {% endifequal %}
            <li class="sub-menu"><a href="#">Mes actions</a>
	      {% block mesactions %}
              <ul>
		{% if user.is_superuser %}
		{% block mesactions_speciales %}
		<!-- options particulières à une page web -->
		{% endblock %}
		<li><a href="/votes/addBarrette">Barrettes</a></li>
		<li><a href="/votes/addOuverture">Périodes d'AP</a></li>
		<li><a href="/votes/addEleves">Élèves</a></li>
		<li><a href="/votes/addProfs">Profs</a></li>
		<li><a href="/votes/lesCours">Cours d'AP</a></li>
		<li><a href="/votes/cop">Élèves -> COPs</a></li>
		<li><a href="javascript:majAllAnnuaire()">
		    Mise à jour de l'annuaire élèves
		</a></li>
		<li><hr/></li>
		<li><a href="/admin/">Administration directe de Django</a></li>
		{% endif %}
		{% ifequal estprof "profAP" %}
		<li><a href="/votes/lesCours?uid={{username}}">Mes cours d'AP</a></li>
		<li><a href="/votes/profil">Mon Profil</a></li>
		<li><a href="/votes/lesCours">Tous les cours d'AP</a></li>
		<li><a href="/votes/enroler">Enrôler des élèves</a></li>
		{% endifequal %}
		{{actionChangeBarrette|safe}} <!-- action de changement de barrette, éventuellement -->
		
		<!-- dernière option : la déconnexion -->
		<li><hr/></li>
		<li><a href="/logout/">Déconnexion</a></li>
              </ul>
	      {% endblock %}
            </li>
            <li><a href="/">Page d'accueil</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <div id="dialog" style="display: none;"></div>
    {% block title %}
    <h1 classe="pagetitre">..:: Titre ::..</h1>
    {% endblock %}
    {% block contents %}
    les contenus de la page sont ici
    {% endblock %}
  </body>
</html>
