{% extends "home.html" %}

{% block webTitle %}
<title>Aperho : affectation des séances des COP</title>
{% endblock %}

{% block title %}
<h1>Affection des élèves dans les {{nbseances}} séances d'information des COP
  <!-- ' -->
</h1>
{% endblock %}

{% block contents %}
{% if user.is_superuser %}
{% for s, etudiants in affectations.items %}
<h2>{{s}}</h2>
<ol>
  {% for e in etudiants %}
  <li>{{e}}</li>
  {% endfor %}
</ol>
{% endfor %}
{% else %}
<h2>Votre statut ne vous permet pas d'utiliser cette page</h2>
{% endif %}
{% endblock %}
