{% extends "base1.html" %}

{% block mesactions %}
<ul>
  {% if user.is_superuser %}
  <li><a href="/votes/addEleves">Élèves</a></li>
  <li><a href="/votes/addProfs">Profs</a></li>
  <li><a href="/votes/lesCours">Séances d'AP<!-- ' --></a></li>
  <li><a href="/votes/cop">Élèves -> COPs</a></li>
  <li><hr/></li>
  <li><a href="/admin/">Administration directe de Django</a></li>
  {% else %}
  <!-- actions pour le non-administrateur -->
  {% ifequal estprof "profAP" %}
  <li><a href="/votes/lesCours?uid={{username}}">Mes cours d'AP</a></li>
  <li><a href="/votes/lesCours">Tous les cours d'AP</a></li>
  <li><a href="/votes/enroler">Enrôler des élèves</a></li>
  {% endifequal %}
  {% endif %}
  <li><hr/></li>
  <li><a href="/logout">Déconnexion</a></li>
</ul>
{% endblock %}

{% block localscripts %}
<script type"text/javascript" src="/static/votes/js/editeCours.js">
</script>
<script type"text/javascript">
$(document).ready(function() {
    if("{{avertissement}}".length > 0){
	$( "#message" ).empty();
	$( "#message" ).attr({title: "Avertissement",});
	$( "#message" ).html("{{avertissement|safe}}");
	$( "#message" ).dialog({
	    modal: true,
	    buttons: [
		{
		    text: "OK",
		    click: function() {
			$( this ).dialog( "close" );
		    }
		}
	    ]
	});
    }
});
</script>
{% endblock %}

{% block title %}
<h1>Modification d'un cours ({{prof.nom}} {{prof.prenom}} -- {{horaire}})</h1> <!-- ' -->
{% endblock %}

{% block contents %}
<form method="post">
<table border="1" class="joli">
  <tr class="fieldWrapper">
    <td>
      <label for="{{form.titre.id_for_label}}">
	Description courte :
      </label>
    </td>
    <td>
      {{form.titre}}
    </td>
  </tr>
  <tr class="fieldWrapper">
    <td>
      <label for="{{form.contenu.id_for_label}}">
	Description longue :
      </label>
    </td>
    <td>
      {{form.contenu}}
    </td>
  </tr>
  <tr class="fieldWrapper">
    <td colspan="2">
      <div id="smallFields">
	<div>
	  {% if form.duree.errors %}{{ form.duree.errors }}<br/>{% endif %}
	  <label for="{{form.duree.id_for_label}}">
	    Durée (1 ou 2 heures) :
	  </label>
	  {{form.duree}}
	</div>
	<div>
	  {% if form.public_designe.errors %}{{ form.public_designe.errors }}<br/>{% endif %}
	  <label for="{{form.public_designe.id_for_label}}">
	    Public désigné :
	  </label>
	  {{form.public_designe}}
	</div>
      </div>
      <div id="hiddenFields">
      <input type="hidden" name="c_id" id="c_id" value="{{c_id}}"/>
      {{form.back}} {{form.is_superuser}} 
      </div>
      {% csrf_token %}
    </td>
  </tr>
  <tr class="fieldWrapper">
    <td colspan="2">
      {% if form.effectif_total.errors %}{{ form.effectif_total.errors }}<br/>{% endif %}
      <label for="{{form.duree.id_for_label}}">
	Effectif total (±18 élèves) :
      </label>
      {{form.effectif_total}}
      <br/>
      <label for="mix">
	ouvert à toute filière : ( {{form.nom_1}} {{form.nom_2}} {{form.nom_3}} {{form.nom_4}} {{form.nom_5}} )
      </label>
      {{form.mix}}
      <input type="hidden" id="mixte" value="{{mixte}}"/>
      <br/>
      <table id="saveurs" style="width: 100%; border: none">
	<tr><th colspan="5">
	    Ventilation par filières<br/>
	    {% if form.public_designe_initial.errors %}{{ form.public_designe_initial.errors }}<br/>{% endif %}
	    {{form.public_designe_initial}}
	</th></tr>
	<tr>
	  {% if form.nom_1 %}<td>
	    {{form.nom_1}} {{form.actif_1}} {{form.ventilation_1}}
	  </td>{% endif %}
	  {% if form.nom_2 %}<td>
	    {{form.nom_2}} {{form.actif_2}} {{form.ventilation_2}}
	  </td>{% endif %}
	  {% if form.nom_3 %}<td>
	    {{form.nom_3}} {{form.actif_3}} {{form.ventilation_3}}
	  </td>{% endif %}
	  {% if form.nom_4 %}<td>
	    {{form.nom_4}} {{form.actif_4}} {{form.ventilation_4}}
	  </td>{% endif %}
	  {% if form.nom_5 %}<td>
	    {{form.nom_5}} {{form.actif_5}} {{form.ventilation_5}}
	  </td>{% endif %}
	</tr>
      </table>
    </td>
  </tr>
</table>
<input type="submit" name="v1" value="Valider les modifications pour ce cours" style="margin: 1em;"/>
ou ...
<input type="submit" name="v2" value="Valider les modifications pour tous les cours" style="margin: 1em;"/>
{{ form.non_field_errors }}
</form>
{% if anciennesFormations %}
<h2>Formations anciennes qui peuvent être réactivées, ou jetées à la poubelle</h2>
<table class="joli">
  {% for f in anciennesFormations %}
  <tr>
    <td>
      {% if f.ajeter %}
      <div class="delButton"><img src="/static/votes/img/del.png" onclick="delFormation(this)" alt="Bouton de suppression" title="Cliquer pour supprimer ces textes"/></div>
      {% endif %}
      <div class="editButton"><img src="/static/votes/img/restore.png" width="16" onclick="editFormation(this)" alt="Bouton d'ajout" title="Cliquer pour récupérer ces textes"/></div>
      <div class="titre" style="display:none">{{f.titre}}</div>
      <div class="contenu" style="display:none">{{f.contenuDecode}}</div>
      <div class="formation_id" style="display:none">{{f.id}}</div>
    </td>
    <td>{{f.petitResume| safe}}</td>
  </tr>
  {% endfor %}
</table>
{% endif %}
<div id="message"></div>
{% endblock %}
