{% extends 'home.html' %}
{% block webTitle %}<title>Aperho : enrôler des élèves</title>{% endblock %}

{% block localscripts %}
<script type="text/javascript">
    $( function() { // lancement après le chargement
	    $( "#userinfo" ).accordion({
		collapsible: true,
		active: false,
	    });
	$( ".accordion" ).accordion({
	    header: "h2",
	    autoHeight: false,
	    collapsible: true,
	    active: false,
	});

	var noninscrits=[
	    {% for ni in noninscrits %}
	    "{{ni.nom}} {{ni.prenom}} {{ni.classe}} ({{ni.uid}})",
	    {% endfor %}
	];
	$("#eleve").autocomplete({
	    source: noninscrits,
	    minLength: 1,
	});

	var cours0list = [
	    {% for c in cours0 %}
	    "{{c.enseignant.nom}} {{c.horaire}}, durée : {{c.formation.duree}}h ({{c.n}}/{{c.capacite}}) {{c.formation.titre}} ({{c.id}})",
	    {% endfor %}
	];

	$("#cours0").autocomplete({
	    source: cours0list,
	    minLength: 1,
	});
	
	var cours1list = [
	    {% for c in cours1 %}
	    "{{c.enseignant.nom}} {{c.horaire}}, durée : {{c.formation.duree}}h ({{c.n}}/{{c.capacite}}) {{c.formation.titre}} ({{c.id}})",
	    {% endfor %}
	];
	
	
	$("#cours1").autocomplete({
	    source: cours1list,
	    minLength: 1,
	});

	$("#eleve")[0].focus();
    } );
</script>
<script type="text/javascript" src="/static/votes/js/enroler.js">
</script>
{% endblock %}

{% block title %} <h1>Enrôler des élèves</h1>{% endblock %}

{%block contents %}
{% if autorise %}

<table border="1" class="joli">
  <tr><th colspan="2">Choisir un élève, puis un ou deux cours</th></tr>
  <tr>
    <th>
      Élève (parmi {{noninscrits|length}} non-inscrits)
    </th>
    <td>
      <div class="delButton"><img src="/static/votes/img/editclear.png" onclick="$('#eleve').val('')" alt="Bouton pour effacer"/></div>
      <input type="text" id="eleve" name="eleve" placeholder="Commencer à taper 3 lettres ..." size="80" style="margin-right: 1em;"/>
    </td>
  </tr>
  
  <tr> <th colspan="2">... pour enrôler dans les cours :</th></tr>
  <tr>
    <th>
      {{h0.hm}}
    </th>
    <td>
      <div class="delButton"><img src="/static/votes/img/editclear.png" onclick="$('#cours0').val('')" alt="Bouton pour effacer"/></div>
      <input type="text" id="cours0" name="cours0" placeholder="Commencer à taper 3 lettres ..." size="80"  style="margin-right: 1em;"/>
    </td>
  </tr>
  <tr>
    <th>
      {{h1.hm}}
    </th>
    <td>
      <div class="delButton"><img src="/static/votes/img/editclear.png" onclick="$('#cours1').val('')" alt="Bouton pour effacer"/></div>
      <input type="text" id="cours1" name="cours1" placeholder="Commencer à taper 3 lettres ..." size="80"  style="margin-right: 1em;"/>
    </td>
  </tr>
  <tr>
    <th colspan="2">
      <button type="button" onclick="enroler()">Enrôler</button>
      <input type="hidden" id="csrf" value="{{csrf_token}}"/>
    </th>
  </tr>
</table>
<div id="dialog" style="display:none"></div>
{% else %}<!-- not autorise -->
<h2>Votre statut ne vous permet pas d'utiliser cette page</h2>
{% endif %} <!-- endifequal prof "profAP" -->
{% endblock %}
