<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Aperho : préparation de la barrette</title>
  </head>
  <body>
    <h1>Aperho : préparation de la barrette</h1>
    <ul>
      <li><a href="/votes/addBarrette">Gestion des barrettes</a></li>
      <li><a href="/votes/addEleves">Ajout d'élèves à une barrette d'AP</a></li>
      <li><a href="/votes/addProfs">Ajout de profs à une ou plusieurs barrettes d'AP</a></li>
      <li><a href="/votes/addFormation">Ajout de formation à une barrette d'AP</a></li>
      <li><a href="/admin/votes/cours/add/">Mise en place d'un cours d'AP</a></li>
      <li><a href="/votes/listCours">Liste des cours d'AP</a></li>
      <li><a href="/votes/cop">Affectation des élèves aux COPs</a></li>
      <li><a href="/admin">Autres fonctions d'administration : lister, modifier, effacer, etc.</a></li>
    </ul>
  </body>
</html>
