{% extends 'home.html' %}

{% block webTitle %}<title>Aperho : liste de cours</title>{% endblock %}

{% block localscripts %}
<script type="text/javascript" src="/static/votes/js/lesCours.js">
</script>
<script type="text/javascript">
$( function() { // lancement après le chargement
	$( "#userinfo" ).accordion({
	    collapsible: true,
	    active: false,
	});
    $( ".accordion" ).accordion({
	header: "h2",
	autoHeight: false,
	collapsible: true,
	active: false,
    });

    $.each($(".changeattribut"),
	   function(index,el){
	       tocall=$(el).attr("data-onload");
	       //console.log($(el), tocall)
	       eval(tocall);
	   }
    )
} );
</script>
{% endblock %}

{% block title %}
<!-- Pas de titre valide pour tous les cas -->
{% endblock %}


{% block contents %}
<div id="dialog" style="display: none;"></div>
{% if autorise %} <!-- accessible seulement aux profs d'AP et à l'admin -->
{% if pourqui %}
  {% if user.is_superuser %}
  <h1 class="pagetitre">Cours d'AP de {{pourqui}} pour la barrette {{barrette}}</h1>
  {% else %}
  <h1 class="pagetitre">Mes cours d'AP pour la barrette {{barrette}}</h1>
  {% endif %}
{% else %}
<h1 class="pagetitre">Cours d'AP pour la barrette {{barrette}}, par prof</h1>
<h2>Données dans un autre format</h2>
<ul>
  <li>Pour un tableur, au <a href="/votes/lesCours?csv=yes">format CSV</a>.</li>  
  <li>Pour un tableur, au <a href="/votes/lesCours?ods=yes">format ODS</a>.</li>  
  <li>Pour un traitement de texte, au <a href="/votes/lesCours?odt=yes">format ODT</a>.</li>
</ul>
<h2>Liste des cours d'AP (dérouler les items)</h2>
{% endif %}
{% for e,ci in eci.items %}
<div {% if not pourqui %}class="accordion"{{% endif %}>
  <div>
    <div>
      {% for c,inscriptions in ci.items %}
      {% if pourqui %}
      <h2>{{c.horaire.heure}} -- liste de {{inscriptions|length}} élèves -- {{ouverture.abrege}}</h2>
      {% else %}
      <h2 style="text-align: left;">{{c.formation.titre}} {{c.horaire.heure}} ({{inscriptions|length}} élèves) -- {{e.prenom}} {{e.nom}} -- {{ouverture.abrege}}</h2>
      {% endif %}
      <table class="joli">
	<tr>
	  {% ifequal e.username user.username %}
	  <!-- il s'agit de « mon » enregistrement en tant que prof -->
	  <td rowspan="3">
	    <div class="editButton">
	      <form method="post" action="editeCours">
		{% csrf_token %}
		<input type="hidden" name="c_id"
		       value="{{c.id}}"/>
		<input type="hidden" name="back"
		       value="lesCours?uid={{e.username}}"/>
		<button type="submit" style="background: #00000000">
		  <img src="/static/votes/img/edit.svg" alt="Bouton d'édition"
		       title="Éditer" width="100"/>
		  </button>
	      </form>
	    </div>
	  </td>
	  {% endifequal %}
	  {% if user.is_superuser %}
	  <!-- je suis admin -->
	  <td rowspan="3">
	    <div class="editButton">
	      <form method="post" action="editeCours">
		{% csrf_token %}
		<input type="hidden" name="c_id"
		       value="{{c.id}}"/>
		<input type="hidden" name="back"
		       value="lesCours?uid={{e.username}}"/>
		<button type="submit" style="background: #00000000">
		  <img src="/static/votes/img/edit.svg" alt="Bouton d'édition"
		       title="Éditer" width="100"/>
		  </button>
	      </form>
	    </div>
	  </td>
	  {% endif %}
	  <th colspan="4" style="padding: 0.5em;">
	    {{c.formation.titre}} (max. {{c.capacite}} élèves)
	    {% if c.formation.public_designe %}
	    <b>Public désigné</b>
	    {% endif %}
	  </th>
	</tr>
	<tr>
	  <th>Durée</th>
	  <th colspan="3">Description longue</th>
	</tr>
	<tr>
	  <th>{{c.formation.duree}} h</th>
	  <td colspan="3" style="width: 400px;">{{c.formation.contenuWithLineBreaks|safe}}</td>
	</tr>
	{% if inscriptions %}
	<tr>
	  <th class="changeattribut" data-onload="changeattribut(el,'{{e.username}}'=='{{user.username}}' || '{{user.is_superuser}}'=='True', 'colspan', '4', '5')" style="padding: 0.5em;">
	    <span style="font-size: 140%">Liste des élèves inscrits</span>
	  </th>
	</tr>
	{% for i in inscriptions %}
	   <tr>
	  <td>
	    {{forloop.counter}}
	  </td>
	  <td class="changeattribut" data-onload="changeattribut(el,'{{e.username}}'=='{{user.username}}' || '{{user.is_superuser}}'=='True', 'colspan', '1', '2')">
	    {{i.etudiant.nom}}
	  </td>
	  <td> {{i.etudiant.prenom}}</td>
	  <td> {{i.etudiant.classe}}</td>
	</tr>
	{% endfor %}
      {% endif %}
      </table>
      {% endfor %}
    </div>
  </div>
</div>
{% endfor %}
{% if not pourqui %}
<div class="accordion">
  <h2>ÉLÈVES NON INSCRITS ({{noninscrits|length}} élèves)</h2>
  <div>
    <table>
      {% for n in noninscrits %}
        <tr>
	  <td>{{forloop.counter}}</td><td>{{n.nom}}</td><td> {{n.prenom}}</td>
	</tr>
      {% endfor %}
    </table>
  </div>
</div>
{% endif %}
{% if orientationOuverte %}
<h1>Conseillères d'orientation</h1>
<div class="accordion">
  {% for cop, ci in cci.items %}
  {% if ci.items.inscr %}
  <h2>{{cop.nom}}</h2>
  <div>
    {% for cours, inscr in ci.items %}
    {% if pourqui %}
    {% ifequal cours.prof.username pourqui %}
    <table style="margin-top:1em;">
      <tr><th colspan="4">{{cours.debut}} {{cours.choice}} avec {{cours.prof}}</th></tr>
    </table>
    {% endifequal %}
    {% else %} <!-- else, pourqui is empty -->
    <table style="margin-top:1em;">
      <tr><th colspan="4">{{cours.debut}} {{cours.choice}} avec {{cours.prof}}</th></tr>
      {% for i in inscr %}
      <tr><td>{{forloop.counter}}</td><td>{{i.etudiant.nom}}</td><td>{{i.etudiant.prenom}}</td><td>{{i.etudiant.classe}}</td></tr>
      {% endfor %}
    </table>
    {% endif %}
    {% endfor %}
  </div>
  {% endif %}
  {% endfor %}
</div>
{% endif %}

{% else %}<!-- prof != "profAP" -->
<h2>Votre statut ne vous permet pas d'utiliser cette page</h2>
{% endif %}
{% endblock %}
