{% extends 'home.html' %}

{% block webTitle %}<title>Aperho : liste de cours</title>{% endblock %}

{% block localscripts %}
<script type="text/javascript">
$( function() { // lancement après le chargement
	$( "#userinfo" ).accordion({
	    collapsible: true,
	    active: false,
	});
    $( ".accordion" ).accordion({
	header: "h2",
	autoHeight: false,
	collapsible: true,
	active: false,
    });
} );
</script>
{% endblock %}

{% block title %}
<!-- Pas de titre valide pour tous les cas -->
{% endblock %}


{% block contents %}
{% ifequal prof "profAP" %} <!-- accessible seulement aux profs d'AP -->
{% if pourqui %}
<h1 classe="pagetitre">Mes cours d'AP pour la barrette {{barrette}}</h1>
{% else %}
<h1 classe="pagetitre">Cours d'AP pour la barrette {{barrette}}, par prof</h1>
<h2>Données dans un autre format</h2>
<ul>
  <li>Pour un tableur, au <a href="/votes/lesCours?csv=yes">format CSV</a>.</li>  
  <li>Pour un tableur, au <a href="/votes/lesCours?ods=yes">format ODS</a>.</li>  
  <li>Pour un traitement de texte, au <a href="/votes/lesCours?odt=yes">format ODT</a>.</li>  
</ul>
{% endif %}
{% for e,ci in eci.items %}
<div {% if not pourqui %}class="accordion"{{% endif %}>
  <div>
    <div>
      {% for c,inscriptions in ci.items %}
      {% if pourqui %}
      <h2>Liste de {{inscriptions|length}} élèves</h2>
      {% else %}
      <h2>{{e.prenom}} {{e.nom}} ({{inscriptions|length}} élèves)</h2>
      {% endif %}
      <table border="1" class="joli">
	<tr>
	  <th colspan="3">
	    {{c.horaire}} ({{c.formation.duree}} h) {{c.formation.titre}}
	  </th>
	</tr>
	{% for i in inscriptions %}
	<tr>
	  <td>{{forloop.counter}}</td><td>{{i.etudiant.nom}}</td><td> {{i.etudiant.prenom}}</td>
	</tr>
	{% endfor %}
      </table>
      {% endfor %}
    </div>
  </div>
</div>
{% endfor %}
{% if not pourqui %}
<div class="accordion">
  <h2>ÉLÈVES NON INSCRITS ({{noninscrits|length}} élèves)</h2>
  <div>
    <table>
      {% for n in noninscrits %}
      <tr>
	<td>{{forloop.counter}}</td><td>{{n.nom}}</td><td> {{n.prenom}}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>
{% endif %}
{% if orientationOuverte %}
<h1>Conseillères d'orientation</h1>
<div class="accordion">
  {% for cop, ci in cci.items %}
  {% if ci.items.inscr %}
  <h2>{{cop.nom}}</h2>
  <div>
    {% for cours, inscr in ci.items %}
    {% if pourqui %}
    {% ifequal cours.prof.username pourqui %}
    <table style="margin-top:1em;">
      <tr><th colspan="4">{{cours.debut}} {{cours.choice}} avec {{cours.prof}}</th></tr>
    </table>
    {% endifequal %}
    {% else %}
    <table style="margin-top:1em;">
      <tr><th colspan="4">{{cours.debut}} {{cours.choice}} avec {{cours.prof}}</th></tr>
      {% for i in inscr %}
      <tr><td>{{forloop.counter}}</td><td>{{i.etudiant.nom}}</td><td>{{i.etudiant.prenom}}</td><td>{{i.etudiant.classe}}</td></tr>
      {% endfor %}
    </table>
    {% endif %}
    {% endfor %}
  </div>
  {% endif %}
  {% endfor %}
</div>
{% endif %}

{% else %}<!-- prof != "profAP" -->
<h2>Votre statut ne vous permet pas d'utiliser cette page</h2>
{% endifequal %}
{% endblock %}
