{% extends "home.html" %}

{% block webTitle %}
<title>Aperho : liste des cours</title>
{% endblock %}

{% block localscripts %}
<script type="text/javascript" src="/static/votes/js/listCours.js">
</script>
{% endblock %}

{% block title %}<h1>Aperho : liste des cours</h1>{% endblock %}

{% block contents %}
{% if user.is_superuser %}
{% for c in lesCours %}
<div class="classeConnue">
  <h3>{{c}}</h3>
  <button type="button" onclick="effacerCours('{{c.id}}')">Effacer</button>
</div>
{% endfor %}
<div id="dialog">
</div>
{% else %}
<h2>Votre statut ne vous permet pas d'utiliser cette page</h2>
{% endif %}
{% endblock %}
