{% extends "base1.html" %}

{% block localscripts %}
  <script>
    $( function() {
    $(".cours").autocomplete({
    source: {{cours|safe|escape}},
    minLength: 3,
    });
    $("#eleve").autocomplete({
    source: {{eleves|safe|escape}},
    minLength: 3,
    });
    });
  </script>
  <script src="/static/votes/js/pre.js"></script>
{% endblock %}

{% block title %}
<h1>Gestion des pré-inscriptions</h1>
{% endblock %}

{% block contents %}
{% if user.is_superuser %}
<form method="post" style="margin: 1em;">
  <fieldset>
    <legend>Pré-inscription par classe </legend>
    {% csrf_token %}
    <table class="joli">
      <tr>
	<th><label> Classe</label></th>
	<td>
	  <select name="classe">
	    <option value="0">-- Choisir --</option>
	    {% for c in classes %}
	    <option value="{{c}}">{{c}}</option>
	    {% endfor %}
	  </select>
	</td>
      <tr>
      <tr>
	<th><label>Cours</label></th>
	<td><input class="cours" type="text" name="cours" placeholder="Taper au moins 3 caractères" style="width: 80em;"/></td>
      </tr>
      <tr>
	<td colspan="2"><input type="submit" value="Inscrire la classe"/></td>
      </tr>
    </table>
  </fieldset>
</form>
<form method="post" style="margin: 1em;">
  <fieldset>
    <legend>Pré-inscription par élève</legend>
    {% csrf_token %}
    <table class="joli">
      <tr>
	<th><label>Élève</label></th>
	<td><input id="eleve" type="text" name="eleve" placeholder="Taper au moins 3 caractères" style="width: 80em;"/></td>
      </tr>
      <tr>
	<th><label>Cours</label></th>
	<td><input class="cours" type="text" name="cours" placeholder="Taper au moins 3 caractères" style="width: 80em;"/></td>
      </tr>
      <tr>
	<td colspan="2"><input type="submit" value="Inscrire l'élève"/></td>
      </tr>
    </table>
  </fieldset>
</form>
<form method="post" style="margin: 1em;">
  <fieldset>
    <legend>Suppression par classe</legend>
    {% csrf_token %}
    <table class="joli">
      <tr>
	<th><label> Classe</label></th>
	<td>
	  <select name="delClasse">
	    <option value="0">-- Choisir --</option>
	    {% for c in classes %}
	    <option value="{{c}}">{{c}}</option>
	    {% endfor %}
	  </select>
	</td>
      </tr>
      <tr>
	<td colspan="2"><input type="submit" value="Effacer les pré-inscriptions de cette classe"/></td>
      </tr>
    </table>
  </fieldset>
</form>

{% if leCours %}
<script type="text/javascript">
  $(".cours").val("{{leCours}}");
</script>
{% endif %}

{% if preinscrits %}
<h2>Pré-inscriptions déjà définies</h2>
<ol>
  {% for p in preinscrits %}
  <li>
    <button onclick="delPreInscription({{p.pk}})"><img src="/static/votes/img/del.png"/></button>
    {{p}}
  </li>
  {% endfor %}
</ol>
{% endif %}
{% endif %}
<div id="message"></div>
{% endblock %}
