{% extends 'home.html' %}

{% block webTitle %}<title>Aperho : mon profil</title>{% endblock %}

{% block localscripts %}
<script type="text/javascript" src="/static/votes/js/lesCours.js">
</script>
{% if modifEnregistree %}
<script type="text/javascript">
  $(document).ready(function() {$("#dial").dialog();});
</script>
{% endif %}
{% endblock %}

{% block title %}
<h1>Mon Profil ({{barrette}})</h1>
{% endblock %}


{% block contents %}
<form method="post">
  {% csrf_token %}
  <table class="joli">
    <tr><th>Nom</th><td>{{prof.nom}}</td></tr>
    <tr><th>Prénom</th><td>{{prof.prenom}}</td></tr>
    <tr><th>Salle</th><td><input type="text" name="salle" value="{{prof.salle}}"/></td></tr>
    <tr><th>Matière</th><td><input type="text" name="matiere" value="{{prof.matiere}}"/></td></tr>
    <tr><th colspan="2"><input type="submit" value="Enregistrer les modifications"/></th></tr>
  </table>
</form>
<div id="dial" style="display: none;">
  <h1>Modification enregistrée</h1>
</div>
{% endblock %}
