{% extends "base2.html" %}

{% block webTitle %}
<title>Préparation des conseils de classe</title>
{% endblock %}

{% block localscripts %}
{% endblock %}

{% block title %}
<h1>..:: Tableau de notes à simplifier::..</h1>
{% endblock %}

{% block contents %}
<style>
  table {border-collapse: collapsed}
  th, td {border: 1px solid black; background: rgba(255,255,200,0.5);}
  tr { height: 52px;}
  tr:nth-child(odd) {background: lightcyan}
  #tele {
      border: 1px solid #ccc;
      padding: 3.58px 30px;
      border-radius: 5px;
      background: #eee;
      color: black;
      text-decoration: none;
      font-size: 12px;
  }
</style>
<p>
  <button onclick="resume_all()">Tout résumer</button> 
  <a id="tele" href="" target="_new">Télécharger au format PDF</a> <br/>
</p>
<p>
  <button onclick="window.location='/conseil'">Changer de fichier</button>
</p>
<table class="matable">
  <tr>
    {% for u,l in uniqueFields.items %}
    {% if l|length == 1 %}
    <th>{{ u }}</th>
    {% else %}
    <th class="resume" data-field="{{ u }}" style="display:none" colspan="{{ l|length }}">
      {{ u }} résumé
    </th>
    {% for i in l %}
    <th class="val" data-field="{{ u }}">
      {{ u }}
    </th>
    {% endfor %}
    {% endif %}
    {% endfor %}
  </tr>
  <tr>
    {% for u,l in uniqueFields.items %}
    <td colspan="{{ l|length }}">
      {% if l|length > 1 %}
      <button onclick="resume('{{ u }}')">résumé {{ u }}</button>
      {% endif %}
    </td>
    {% endfor %}
  </tr>
  {% for d in data_supplemented %}
  <tr>
    {% for c in d %}
    <td class="{{ c.cl }}" data-field="{{ c.field }}" style="display:{{ c.disp }}" colspan="{{ c.cols }}">{{ c.val }}</td>
    {% endfor %}
  </tr>
  {% endfor %}
</table>

<script>
  var toggled = [
      {% for u,l in uniqueFields.items %}
      {% if l|length > 1 %}
      { field: "{{ u }}", short: false},
      {% endif %}
      {% endfor %}
  ];

  var tele = $("#tele");
  tele.attr("href",printableURL());
  
  function resume(field){
      toggled.forEach(function(item, index){
	  if (item.field == field){
	      var resumes = $(".resume[data-field="+field+"]")
	      console.log(resumes);
	      var data = $(".val[data-field="+field+"]")
	      console.log(data);
	      item.short = ! (item.short);
	      if (item.short){
		  resumes.show();
		  data.hide();
	      } else {
		  resumes.hide();
		  data.show();
	      }
	  }
      });
      tele.attr("href",printableURL());
  }

  function resume_all(){
      toggled.forEach(function(item, index){
	  resume(item.field);
      });
  }

  function printableURL(){
      return "/conseil/printable?data=" + JSON.stringify(toggled); 
  }
</script>
{% endblock %} <!-- end contents -->
