{% extends "base2.html" %}

{% block webTitle %}
<title>Préparation des conseils de classe</title>
{% endblock %}

{% block localscripts %}
{% endblock %}

{% block title %}
<h1>..:: Tableau de notes à simplifier::..</h1>
{% endblock %}

{% block contents %}
<style>
  table.matable {border-collapse: collapse}
  table.matable th, table.matable td {
      border: 1px solid black; background: rgba(255,255,200,0.5);
  }
  table.matable tr { height: 52px;}
  table.matable tr:nth-child(odd) {background: lightcyan}
  #tele {
      border: 1px solid #ccc;
      margin-right: 10px;
      padding: 16px 30px;
      border-radius: 5px;
      background: #eee;
      color: black;
      text-decoration: none;
      font-size: 12px;
  }
</style>
<!---
<p>
  <a id="tele" href="" target="_new">Télécharger au format PDF</a> <br/>
</p>
<p>
  <button onclick="resume_none()">Tout déplier</button> 
  <button onclick="resume_all()">Tout résumer</button> 
</p>
<p>
  <button onclick="window.location='/conseil'">Changer de fichier</button>
</p>
-->
<table class="commands">
  <tr>
    <td><a id="tele" href="" target="_new">Télécharger au format PDF</a></td>
    <td>
      <button onclick="resume_none()">Tout déplier</button> 
      <button onclick="resume_all()">Tout résumer</button> 
      <br/>
      <button onclick="window.location='/conseil'">Changer de fichier</button>
    </td>
  </tr>
</table>
<table class="matable">
  <tr>
    {% for u,l in uniqueFields.items %}
    {% if l|length == 1 %}
    <th>{{ u }}</th>
    {% else %}
    <th class="resume" data-field="{{ u }}" style="display:none" colspan="{{ l|length }}">
      {{ u }} résumé
    </th>
    {% for i in l %}
    <th class="val" data-field="{{ u }}">
      {{ u }}
    </th>
    {% endfor %}
    {% endif %}
    {% endfor %}
  </tr>
  <tr>
    {% for u,l in uniqueFields.items %}
    <td colspan="{{ l|length }}">
      {% if l|length > 1 %}
      <button class="toggle" data-field="{{ u }}" onclick="resume('{{ u }}')">résumé {{ u }}</button>
      {% endif %}
    </td>
    {% endfor %}
  </tr>
  {% for d in data_supplemented %}
  <tr>
    {% for c in d %}
    <td class="{{ c.cl }}" data-field="{{ c.field }}" style="display:{{ c.disp }}" colspan="{{ c.cols }}">{{ c.val }}</td>
    {% endfor %}
  </tr>
  {% endfor %}
</table>

<script>
  var toggled = [
      {% for u,l in uniqueFields.items %}
      {% if l|length > 1 %}
      { field: "{{ u }}", short: true},
      {% endif %}
      {% endfor %}
  ];

  var tele = $("#tele");
  tele.attr("href",printableURL());

  /**
   * résume ou déplie un champ multiple
   * @param field le nom du champ
   * @param newVal (optionnel) une valeur true ou false pour forcer
   *        l'état de ce champ
   **/
  function resume(field, newVal){
      toggled.forEach(function(item, index){
	  if (item.field == field){
	      var resumes = $(".resume[data-field="+field+"]");
	      var button = $(".toggle[data-field="+field+"]");
	      var data = $(".val[data-field="+field+"]");
	      if (typeof newVal !== 'undefined'){
		  /* force l'état du champ */
		  item.short = newVal || false;
	      } else {
		  /* inverse l'état du champ */
		  item.short = ! (item.short);
	      }
	      if (item.short){
		  resumes.show();
		  button.text("étendre " + field);
		  data.hide();
	      } else {
		  resumes.hide();
		  button.text("résumer " + field);
		  data.show();
	      }
	  }
      });
      tele.attr("href",printableURL());
  }

  function resume_all(){
      toggled.forEach(function(item, index){
	  resume(item.field, true);
      });
  }

  function resume_none(){
      toggled.forEach(function(item, index){
	  resume(item.field, false);
      });
  }

  function printableURL(){
      return "/conseil/printable?data=" + JSON.stringify(toggled); 
  }

  resume_all();
</script>
{% endblock %} <!-- end contents -->
